#intro
    p.image
        img(src="/images/rocking.png")
    h2 Start playing some awesome music
    h3 Music that sucks is not allowed
    p Just type something into the searchbox and add tracks to the playlist.
    p If you don't like that, We don't like you.
        
#tracklist(style='display:none;')
    ul
