!!! 5
html
    head
        title Despot
        link(rel='stylesheet', href='/stylesheets/style.css')
        link(href='http://fonts.googleapis.com/css?family=Jockey+One&subset=latin,latin-ext', rel='stylesheet')
        script(src='/javascripts/jquery-1.7.js')
        script(src='/javascripts/simple-state.js')
        script(src='/javascripts/main-public.js')
    body.colored
        header.main
            .standard-wrapper
                h1.logo
                    a(href="/") Despot 
                .search-box
                    input(type="text",class="q",value="",placeholder="Search...")
        // a lot of html.. i know
        .main-queue-wrapper
            .queue-chrome
                .queue-inner
                    h4.now-playing Now playing...
                    #playback_controls
                      .group
                        button.volume(data-volume=20, title="Volume to 20") 2
                        button.volume.active(data-volume=70, title="Volume to 70") 7
                        button.volume(data-volume=100, title="Volume to 100") 10
                      .group
                        button#playback-next(title="Skip this song") &raquo;
                    #song-queue
                        ul
        .main-wrapper
            .standard-wrapper
                section.content!= body
            footer
                .standard-wrapper
                    p.credits
                        |Created by
                        a(href="http://twitter.com/paulrosania") @paulrosania
                        |  and
                        a(href="http://twitter.com/arnorhs") @arnorhs
