!!! 5
html
    head
        title Despot
        link(rel='stylesheet', href='/stylesheets/style.css')
        script(src='/javascripts/jquery-1.7.js')
        script(src='/javascripts/main-public.js')
    body.colored
        header.main
            .standard-wrapper
                h1.logo
                    a(href="/") Despot 
                .search-box
                    input(type="text",class="q",value="",placeholder="Search...")
                .main-queue-wrapper
                    .queue-inner
                        h4 Spotify music queue
                        a#next next
                        p
                            span#num-songs 0
                            |  in queue
                        #song-queue
                            ul
        .main-wrapper
            .standard-wrapper
                section.content!= body
            footer
                .standard-wrapper
                    p.credits
                        |Created by
                        a(href="http://twitter.com/paulrosania") @paulrosania
                        |  and
                        a(href="http://twitter.com/arnorhs") @arnorhs
