box-shadow(a)
  box-shadow: a
  -webkit-box-shadow: a
  -moz-box-shadow: a

border-radius(a)
  border-radius: a
  -webkit-border-radius: a
  -moz-border-radius: a

border-top-left-radius(a)
  border-top-left-radius: a
  -webkit-border-top-left-radius: a
  -moz-border-top-left-radius: a

border-top-right-radius(a)
  border-top-right-radius: a
  -webkit-border-top-right-radius: a
  -moz-border-top-right-radius: a

border-bottom-left-radius(a)
  border-bottom-left-radius: a
  -webkit-border-bottom-left-radius: a
  -moz-border-bottom-left-radius: a

border-bottom-right-radius(a)
  border-bottom-right-radius: a
  -webkit-border-bottom-right-radius: a
  -moz-border-bottom-right-radius: a

gradient(a,b,c)
  background-image: -webkit-gradient(a,b,c);
  background-image: -webkit-linear-gradient(a,b,c);
  background-image:    -moz-linear-gradient(a,b,c);
  background-image:     -ms-linear-gradient(a,b,c);
  background-image:      -o-linear-gradient(a,b,c);
  background-image:         linear-gradient(a,b,c);

transition-property(a)
  transition-property: a
  -webkit-transition-property: a
  -moz-transition-property: a

transition-duration(a)
  transition-duration: a
  -webkit-transition-duration: a
  -moz-transition-duration: a

transition-timing-function(a)
  transition-timing-function: a
  -webkit-transition-timing-function: a
  -moz-transition-timing-function: a

transition-delay(a)
  transition-delay: a
  -webkit-transition-delay: a
  -moz-transition-delay: a

