.main-queue-wrapper
  position: fixed
  left: 50%
  .queue-chrome
    position: relative
    left: 220px
    right: 0px
    background: rgba(0,0,0,0.7)
    box-shadow: inset 0 0 80px rgba(0,0,0,1)
    float: right
    width: 380px
    min-height: 200px
    border-radius: 0 0 5px 5px
    z-index: 4000
    .queue-inner
      padding: 60px 30px 30px 30px
      position: relative
    h4.now-playing
      font-size: 20px
      line-height: 40px
      width: 305px
      overflow: hidden
      white-space: nowrap
      position: absolute
      left: 30px
      color: #555
      top: 0px
    #playback-next
      cursor: pointer
      background: transparent url(/images/playback-next.png) no-repeat 0px 0px
      text-indent: -10000px
      overflow: hidden
      width: 26px
      height: 26px
      right: 10px
      top: 7px
      display: block
      position: absolute
      &:hover
        opacity: 0.8
    ul
      overflow-y: auto
      max-height: 500px
      width: 338px
    ul li
      color: #555
      line-height: 32px
      font-size: 13px
      padding: 0 8px
      margin-bottom: 3px
      width: 298px
      &:nth-child(1n)
        background: rgba(0,0,0,0.07)
      &:nth-child(2n)
        background: rgba(0,0,0,0.15)
      a
        color: #ccc
        display: inline-block
        margin-right: 5px


