
// reset stuff
@import reset
// selected mixinz
@import mixins

// the main css...
html,body
  height: 100%

body
  font-family: arial, helvetica, sans-serif
  font-size: 14px
  line-height: 1em
  &.colored
    background: #333

h1,h2,h3,h4,h5,h6
  font-family: 'Jockey One', sans-serif
  line-height: 1em

p
  line-height: 1.5em

a
  color: #333
  text-decoration: none
  &:hover
    text-decoration: underline

.standard-wrapper
  margin: 0px auto
  max-width: 1200px

header.main
  color: #FFFFFF
  height: 40px
  position: absolute
  width: 100%
  z-index: 2
  h1
    float: left
    a
      text-shadow: 0 0 10px rgba(255,255,255, 0.4)
      color: #FFF
      line-height: 40px
      height: 40px
      display: block
      width: 100px
      text-align: center
      font-size: 24px
      background: rgba(0,0,0,0.2)
      border-bottom: 1px solid rgba(255,255,255,0.15)
      border-radius(0px 0px 3px 3px)
      transition-property: height
      transition-duration: 0.1s
      transition-timing-function: ease-in-out
      &:hover, &:focus, &:active
        text-decoration: none
        background: rgba(0,0,0,0.5)
        border-bottom: 1px solid rgba(255,255,255,0.2)
        height: 45px
  .search-box
    position: absolute
    left: 130px
    bottom: 0px
    width: 500px
    margin-left: 30px
    input.q
      border: 0
      width: 100%
      font-size: 15px
      padding: 4px 8px
      margin-top: 6px
      background: rgba(255,255,255,0.2)
      border-radius: 2px
      color: #FFF
      &:focus
        background: rgba(255,255,255, 1)
        color: #333
      &.spinner
        background-image: url("/images/despot-spinner.gif")
        background-repeat: no-repeat
        background-position: 369px 4px
    input.q::-webkit-input-placeholder
      color: #aaa
    input.q:-moz-placeholder
      color: #aaa

@import playback

.main-wrapper
  min-height: 100%
  position: relative
  z-index: 1

  footer
    position: absolute
    bottom: 0px
    width: 100%
    background: rgba(0,0,0,0.6)
    color: #FFFFFF
    height: 30px
    width: 100%
    a
      color: rgba(255,255,255, 0.7)
    p.credits
      margin: 5px 0 0 0

section.content
  padding: 60px 0 50px 0
  width: 800px


#intro
  background: rgba(0,0,0,0.1)
  padding: 30px
  border-radius: 2px
  box-shadow(inset 4px 4px 10px rgba(0,0,0,0.1))
  min-height: 250px
  color: #fff
  border-right: 1px solid rgba(255,255,255,0.05)
  border-bottom: 1px solid rgba(255,255,255,0.1)
  h2
    font-size: 40px
    font-weight: normal
    margin: 0.5em 0
  h3
    font-size: 24px
    margin: 0.5em 0
  p
    margin: 1em 0
  p.image
    float: right
    width: auto
    img
      width: 200px

#tracklist
  background: rgba(255,255,255,0.9)
  border-top: 2px solid #fff
  border-left: 2px solid #fff
  padding: 30px 0
  border-radius: 2px
  color: #444
  .error
    text-align: center
    font-size: 40px
  ul li.track
    height: 35px
    padding: 0 40px
    &:hover
      background: rgba(255,255,255,0.6)
    .song, .artist, .actions
      line-height: 35px
      float: left
      white-space: nowrap
      overflow: hidden
    .song
      font-weight: bold
      margin-right: 10px
      width: auto
      max-width: 60%
    .artist
      width: auto
      max-width: 30%
      color: #888
    .actions
      width: 8%
      float: left
      span.add-to-queue
        display: inline-block
        font-size: 11px
        font-weight: bold
        color: #FFF
        background: #334
        line-height: 18px
        padding: 0 5px
        border-radius: 3px
        cursor: pointer
        &:hover
          background: #7C3989


